body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(229, 57%, 11%);
  color: white;
}

#content {
  width: 100%;
  height: 100vh;
  /* width: 320px; */
  max-width: 375px;
  background: url(/assets/images/bg-mobile.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2rem;
  flex-direction: column;
  gap: 2rem;
}

#storage-header {
  background-color: var(--Blue-850);
  padding: 4rem;
  border-radius: 1rem;
  border-top-right-radius: 10rem;
}

.logo {
  width: 120px;
  margin-bottom: 3rem;
}

.icon-group {
  display: flex;
  gap: 1rem;
}

.icon-box {
  background-color: var(--Blue-950);
  padding: 1.2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box img {
  width: 20px;
}

#storage-info {
  background-color: var(--Blue-850);
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
}

.storage-used {
  font: var(--text);
  color: var(--Grayish-Blue);
  margin-block: 1.5rem;
  text-align: center;
}

.highlight {
  color: var(--Blue-200);
  font: var(--text-ft);
}

.storage-bar-wrapper {
  position: relative;
  width: 90%;
  margin: auto;
}

.progress-bar {
  background-color: var(--Blue-950);
  border-radius: 999px;
  height: 18px;
  width: 100%;
  padding: 0.3rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.progress-fill {
  height: 100%;
  width: 79.5%;
  background: var(--Gradient);
  border-radius: 999px;
  position: relative;
}

.progress-fill::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.8rem;
  height: 0.8rem;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 0 2px hsl(335, 100%, 65%);
}

.storage-values {
  display: flex;
  justify-content: space-between;
  font: var(--text-sm-ft);
  color: var(--Blue-200);
  margin-bottom: 3.5rem;
}

.storage-left {
  position: absolute;
  left: 20%;
  top: 6.5rem;
  background-color: white;
  color: var(--Grayish-Blue);
  font: var(--text-sm-ft);
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0.5rem 2.2rem;
  border-radius: 1rem;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.storage-left strong {
  color: var(--Blue-950);
  font: var(--text-lg-ft);
}

@media screen and (min-width: 1024px) {
  body {
    display: flex;
    align-content: flex-end;
    height: 100vh;
  }

  #content {
    background-image: url(/assets/images/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: center bottom;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    max-width: 1024px;
  }

  #storage-header {
    width: 35%;
  }

  #storage-info {
    width: 50%;
    margin-top: 4.8rem;
  }

  .storage-used {
    text-align: left;
    padding-left: 2rem;
  }

  .storage-values {
    margin-bottom: 1.5rem;
  }

  .storage-left {
    left: 60%;
    top: -11.5rem;
    font-size: 1em;
    border-bottom-right-radius: 0;
  }

  .storage-left::after {
    content: '';
    position: absolute;
    bottom: -18px;
    left: 94%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: white white transparent
     transparent;
  }
}

@media screen and (min-width: 1440px) {
  #content {
    max-width: 1440px;
  }

  #storage-header {
    width: 25%;
  }

  #storage-info {
    margin-top: 3.6rem;
  }

  .storage-used {
    padding-left: 2.7rem;
    font-size: clamp(1.4rem, 1.2rem + 1.666vw, 2rem);
  }
  
  .storage-values {
    font-size: clamp(1.2rem, 1rem + 1.666vw, 1.5rem);
  }

  .storage-left {
    left: 72%;
    top: -12rem;
    font-size: 1.2em;
    padding: 1rem 2rem;
  }

  .storage-left::after {
    left: 95%;
  }
}