body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(229, 57%, 11%);
  color: white;
}

#content {
  justify-content: center;
  /* align-content: center; */
  height: 100vh;
  width: 320px;
  max-width: 375px;
  width: 100%;
  padding: 2rem;
  background: url(/assets/images/bg-mobile.png) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#storage-header {
  background-color: var(--Blue-850);
  padding: 4rem;
  border-radius: 1rem;
  border-top-right-radius: 8rem;
}

.logo {
  width: 120px;
  margin-bottom: 3rem;
}

.icon-group {
  display: flex;
  gap: 1rem;
}

.icon-box {
  background-color: var(--Blue-950);
  padding: 1.2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box img {
  width: 20px;
}

#storage-info {
  background-color: var(--Blue-850);
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
}

.storage-used {
  font: var(--text);
  color: var(--Grayish-Blue);
  margin-bottom: 1.5rem;
  text-align: center;
}

.highlight {
  color: var(--Blue-200);
  font: var(--text-ft);
}

.storage-bar-wrapper {
  position: relative;
  width: 90%;
  margin: auto;
}

.progress-bar {
  background-color: var(--Blue-950);
  border-radius: 999px;
  height: 18px;
  width: 100%;
  padding: 3px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.progress-fill {
  height: 100%;
  width: 79.5%;
  background: var(--Gradient);
  border-radius: 999px;
  position: relative;
}

.progress-fill::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 0 2px hsl(335, 100%, 65%);
}

.storage-values {
  display: flex;
  justify-content: space-between;
  font: var(--text-sm-ft);
  color: var(--Blue-200);
  margin-bottom: 3.5rem;
}

.storage-left {
  position: absolute;
  left: 20%;
  top: 6.5rem;
  background-color: white;
  color: var(--Grayish-Blue);
  font: var(--text-sm-ft);
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0.5rem 2.2rem;
  border-radius: 1rem;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.storage-left strong {
  color: var(--Blue-950);
  font: var(--text-lg-ft);
}